.welcome {
	background: url(../../img/background.jpg) no-repeat center;
	background-size: cover;
	font-family: $base-font-bold;
	font-size: 40px;
	font-weight: bold;
	height: 100vh;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10;

	@include respond-min($medium-screen) {
		font-size: 50px;
	}

	.welcome__inner {
		background: rgba(255,255,255,0.3);
		height: 100vh;
		width: 100%;

		@include respond-min($large-screen) {
			background: rgba(255,255,255,0.2);
		}
	}

	h2 {
		font-size: inherit;
		line-height: 30px;
		margin: 0;
	}

	label {
		font-family: $base-font-bold;
		font-size: 30px;
		font-weight: bold;

		@include respond-min($medium-screen) {
			font-size: 50px;
		}
	}

	input {
		background: white;
		color: $graphite-grey;
		display: block;
		font-family: $base-font-bold;
		font-size: 30px;
		font-weight: bold;
		line-height: 20px;
		margin: $spacer auto;
		padding: 5px 10px;
		text-align: center;
		width: 80%;

		@include respond-min($medium-screen) {
			font-size: 40px;
			padding: 10px 20px;
			width: auto;
		}

		&:focus {
    		outline: none !important;
    		box-shadow: 0 0 10px rgb(68,111,105);   
    	}
	}
}

