* {
	box-sizing:border-box;
}

html, body {
	min-height: 100%;
	background-color:$bg-color;
}

body {
	background: url(../../img/background.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	color:$primary-color;
	position: relative;

	.lt-ie9 & {
		min-width: $large-screen; // prevent liquid layout for small screen legacy IE
	}
}
	
	.total-wrapper {
		background: rgba(0,0,0,0.5);
		@include respond-min($medium-screen) {
			background: rgba(0,0,0,0.2);
		}
	}
	.main-wrapper {
		margin: 0 auto;
		min-height: 100vh;
		max-width: 90%;
		
		@include respond-min($large-screen) {
			padding-bottom: 100px;
		}
	}

code {
	@include font-size($base-font-size - 2);
	background-color:#f2f2f2;
	padding:$spacer--small;
	display:block;
}

a {
	color: $link-color;
	text-decoration:none;

	&:hover {
		color: $hover-color;
		@include transition(color 0.25s ease); // transition all the links by default
	}

	&:focus {
		outline: thin dotted;
	}
}

img {
    max-width:100%;
    height: auto;
}

li {
	line-height:$base-line-height;
}

/* = FIXES  */

// Fix for Google Map styling
.google-map-canvas,
.google-map-canvas * {
	box-sizing:border-box;

    img {
        max-width: none;
    }
}